[Unit]
Description=Run FF14 cache refresh every 120 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=120min
Unit=ff14-cache-refresh.service

[Install]
WantedBy=timers.target
