[Unit]
Description=FF14 Gil Web GUI (FastAPI)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=xenal
WorkingDirectory=/home/xenal/python/ff14_gil_cli
ExecStart=/usr/bin/python3 -m uvicorn app:app --host 0.0.0.0 --port 8000
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
